*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

li{
  list-style: none;
  margin-right: 15px;
}

.menuBar{
  width: 100vw;
  height: 100px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 20%;
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.fa-bars{
  margin: 0 10px 0 20px;
  font-size: 20px;
}
.fa-youtube{
  color: red;
  font-size: 30px;
  margin: 0 10px;
}

.menuList{
  display: flex;
}

.btn{
  color: #fff;
  font-size: 20px;
  margin: 20px;
  display: none;
}

/* 태블릿 사이즈인 경우 */
@media screen and (max-width: 768px){
  /* 메뉴 리스트 제거 */
  .menuList{
    display: none;
  }
/* 햄버거 메뉴 나타나게 */
  .btn{
    display: block;
  }

}